{% extends "layout.html" %}

{% block title %}
Budget
{% endblock %}

{% block main %}

{% if active_accounts %}
<div class="container">
    <div class="grid-element element-a"><h1> Your budget</h1></div>
</div>
<p>Showing you category spend across all accounts in {{ prev_month_firstday.strftime('%B %Y') }}</p>

<form action="/budget" method="post">
    <table id="budget" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Last month spend</th>
                <th>Budget</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
            <tr class="{{"table-danger" if budget.danger }}"</tr>
                <td>{{ budget.category }}</td>
                {% if budget.month_total is not none %}
                <td>{{ budget.month_total | usd }}</td>
                {% else %}
                <td>-</td>
                {% endif %}

                <td>$ </div><input name="{{ budget.category }}" value="{{ budget.budget_amount if budget.budget_amount != none else ""}}" text="number" autocomplete="off" class="form-control"></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Save</button>
</form>

{% else %}

<div class="grid-container">
    <div><img src="static/jesse_graph.svg" width = "180px"/></div>
    <div>
        <h3>Check back after you have added your bank accounts</h3>
        <p>You'll be able see your spending by categories across all accounts for the previous month </p>
        <p>Set budget for each category to help stay on top of your spending</p>
    </div>
</div>


{% endif %}

{% endblock %}