{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}


{% if institutions %}
<div class="container">
    <div class="grid-element element-a"><h1> Your total balance across all linked accounts is {{ total_balance | usd }}</h1></div>
  </div>

{% for institution in institutions %}

<form action="/refresh" method="post">
  <div class="row">
    <div class="col-md-4"><h3 class="text-left"> {{ institution.institution_name }} </h3></div>
    <div class="col-md-4 offset-md-4">
        <h5 class="text-right">Total balance:{{ institution.total_balance | usd }}</h5>
        <p class="text-right"> 
            last refreshed {{ institution.timestamp }} &nbsp; &nbsp;
            
            <input type="hidden" name="institution_id" value="{{ institution.institution_id }}">
            <button class="btn btn-default btn-sm" type="submit">
                <i class="fas fa-sync" aria-hidden="true"></i> Refresh
            </button>
        </p>  
    </div>
  </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Account name</th>
            <th>Account mask</th>
            <th>Account type</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for account in institution.accounts %}
        <tr>
            <td>{{ account.official_name }}</td>
            <td>{{ account.mask }}</td>
            <td>{{ account.type }}</td>
            <td>{{ account.current_balance | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endfor %}

{% else %}

<div class="jumbotron">
    <h1 class="display-3">Welcome, {{ user.firstname }}!</h1>
    <p class="lead">See your finances all in one place that’s easy to understand</p>
    <hr class="my-4">
    <p> Get started with Jesse by linking all your bank accounts. In just minutes, you’ll see where your money is going.</p>
    <p>Jesse updates and categorizes your bank data so you'll always be on top your finances.</p>
    <p>Manage your money by setting budgets and see how your last month spend compares against what you have budgeted!</p>
  </div>

{% endif %}

<button id="link-button" class="btn btn-primary btn-lg">Link Bank Account</button>

<script type="text/javascript">
    var handler = Plaid.create({
        clientName: 'Jesse',
        // Optional, specify an array of ISO-3166-1 alpha-2 country
        // codes to initialize Link; European countries will have GDPR
        // consent panel
        countryCodes: ['US'],
        env: 'sandbox',
        // Replace with your public_key from the Dashboard
        key: '{{ plaid_public_key }}',
        product: ['auth', 'transactions'],

        // Optional, specify userLegalName and userEmailAddress to
        // enable all Auth features
        userLegalName: 'John Appleseed',
        userEmailAddress: 'jappleseed@yourapp.com',

        onLoad: function () {
            // Optional, called when Link loads
        },

        onSuccess: function (public_token, metadata) {
            $('#maincontainer').fadeOut('fast', function() {
                $('#loading').fadeIn('fast');
            });

            // Send the public_token to app server.
            // The metadata object contains info about the institution the
            // user selected and the account ID or IDs, if the
            // Select Account view is enabled.
            // https://api.jquery.com/jquery.post/
            // https://api.jquery.com/jQuery.ajax/#jqXHR
            $.post( '/register_access_token', { public_token: public_token } )
                .done(function( data, textStatus, jqXHR ) {
                    $('#loading').fadeOut('slow');
                    document.location.reload();
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    $('#loading').fadeOut('slow');
                    alert( jqXHR.responseText );
                    document.location.reload();
                });
        },

        onExit: function (err, metadata) {
            // The user exited the Link flow.
            if (err != null) {
                // The user encountered a Plaid API error prior to exiting.
            }
            // metadata contains information about the institution
            // that the user selected and the most recent API request IDs.
            // Storing this information can be helpful for support.
        },

        onEvent: function (eventName, metadata) {
            // Optionally capture Link flow events, streamed through
            // this callback as your users connect an Item to Plaid.
            // For example:
            // eventName = "TRANSITION_VIEW"
            // metadata  = {
            //   link_session_id: "123-abc",
            //   mfa_type:        "questions",
            //   timestamp:       "2017-09-14T14:42:19.350Z",
            //   view_name:       "MFA",
            // }
        }
    });

    $('#link-button').on('click', function (e) {
        handler.open();
    });
</script>

{% endblock %}