{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="row">
      <div class="col-sm-6">
          <h2>All your money under one roof</h2>
          <p>When you’re on top of your money, life is good. Jesse is here to help you effortlessly manage your
            finances all in one place. Get started today for free.</p>
            
            <div class="grid-container">
                <div class="icon"><img src="static/cash.svg" width = "50px"/></div>
                <div class="icon">Link all your bank accounts to Jesse</div>
              </div>
            
            <div class="grid-container">
                <div class="icon"><img src="static/calendar.svg" width = "50px"/> </div>
                <div class="icon"><p>View your transaction history</p></div>
            </div>
            <div class="grid-container">
                <div class="icon"><img src="static/pie.svg" width = "50px"/> </div>
                <div class="icon"><p>Track your spend across categories</p></div>
            </div>
            <div class="grid-container">
                <div class="icon"><img src="static/calc.svg" width = "50px"/> </div>
                <div class="icon"><p>Set budgets that you can stick to</p></div>
            </div>
      </div>
      <div class="col-sm-6">
            <form action="/register" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="firstname" placeholder="First name" type="text" required>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="lastname" placeholder="Last name" type="text" required>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" name="confirmation" placeholder="Confirm password" type="password" required>
                </div>
                <button class="btn btn-primary" type="submit">Sign up</button>
            </form>
        </div>
    </div>

{% endblock %}
