{% extends "layout.html" %}

{% block title %}
Transcations
{% endblock %}

{% block main %}

{% if transactions %}

<h1> Your transactions history </h1>
<h4> Check your transaction here across all your bank accounts</h4>
<p>Transactions shown are form {{ today }} - {{ last_thirty }} </p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Bank</th>
            <th>Account name</th>
            <th>Mask</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.institution_name }}</td>
            <td>{{ transaction.official_name }}</td>
            <td>{{ transaction.mask }}</td>
            <td>{{ transaction.name }}</td>
            <td>{{ transaction.amount | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="col-sm-6">
    <img src="static/clipboard_jesse.svg" width = "50px"/> 
</div>
<div class="col-sm-6">
    <h3> Check back after you have added your accounts</h3>
</div>

{% endif %}

{% endblock %}